*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: aqua; */
    align-items: center;
}
h1{
    color: #ffffff;
    font-family: Lucida Calligraphy, Helvetica, sans-serif;
    padding-left:30px ;
    cursor: pointer;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    padding: 30px;
    display: inline-block;
    font-family: Poppins;
    color: #ffffff;
    
}
nav ul li:hover a{
    color: rgb(123, 36, 28);
    text-decoration: underline;
}
.container{
    height: 150px;
    width: 600px;
    background-color: rgb(14, 14, 15);
    padding: 10px;
    overflow: hidden;
    border: 1px solid red;
    border-radius: 15px;
    position: absolute;
    left: 18%;
    bottom: 5%;
}
.index-content{
    font-family: Poppins;
    color: #ffffff;
    font-size: small;
    text-align: justify;
}
.hire-me{
    height: 150px;
    width: 600px;
    background: linear-gradient(to top right,rgba(13, 228, 95, 0.664), rgba(30, 27, 226, 0.918),rgba(162, 20, 175, 0.863)); 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 40px 40px 40px;  
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 5px dashed rgb(10, 1, 61); */
    display: none;
}
.container:hover .hire-me{
    display: block;
}
.button{
    height: 50px;
    width: 200px;
    background-color: rgb(46, 1, 3);
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    right: 10%;
    top: 50%;
}
.button:hover {
    background-color: rgb(31, 21, 21);
}